/*koko sivua koskevat määritykset */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Merriweather', serif;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;

}


/*sivun rungon määritykset*/
body{
    background-color: #CFDCF2;
}


/*sivun rungon määritykset*/
.site{
    max-width: 88%;
    margin: 3% auto auto auto;
    height: auto;
    background-color: #FAF7F0;
    padding: 3%;
}

/*top menu*/
header {
  display: flex;
}

/*top menun contact us lista*/
.header-top_menu-menu {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}


/*top menun contact us linkki*/
#header-top_menu-menu-click {
  display: block;
  line-height: 3.5rem;
  text-align: center;
  font-size: 2em;
    font-weight: bold;
}

/*sivun nimi ja prosentit millä leveydellä otsikko näkyy*/
#header-site_name {
    width: 85%;
    font-size: 2em;
    font-weight: bold;
}

/*prosentit millä leveydellä contact us linnki näkyy*/
.header-top_menu {
  width: 15%;
}

/*pääsisältö*/
main {
    margin-top: 3%;
     font-size: 2em;
}

/*etuotsikko, tekstisisältö ja kuva*/
.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*etusivun kuva*/
#container-image{
    max-width: 60%;
}

/*etusivun otsikko & teksti*/
.container-text{
    max-width: 40%;
    align-self: flex-start;
    margin-top: 5%;
}

/*etusivun teksti*/
#container-p{
    margin-top: 8%;
}


#gallery-header{
    margin-top: 6%;
    margin-left: 45%;
    margin-bottom: 3%;
}



/*filtervalikko*/
select{
    height: 50px;
    width: 200px;
    font-size: 1em;
    border-radius: 6px;
}

.gallery-container-filter{
    margin-top: 4%;
}

.gallery-container-filter{
    margin-top: 3%;
}
/*filtervalikko*/




/*kuvagalleria*/
.gallery-container {
    display: flex;
    margin-bottom: 10%;
}

.filter {
    width: 20%;
    padding: 20px;
    position: sticky;
}

.gallery {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.item {
    width: 25%;
    margin-bottom: 3%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.gallery-item-header-text {
    font-size: 1.3em;
    color: #333;
    margin-top: 2%;
}

.gallery-item-header {
    font-size: 1.3em;
    margin-bottom: 0;
    font-weight: normal;

}
/*kuvagalleria*/



/*sivunumerot*/
.page-number button {
    border-radius: 7px;
    height: 50px;
    width: 100px;
    font-size: 1em;
    margin-left: 0.3%;
    border: 2px solid black;
    cursor: pointer;
}




/*alavalikko*/
footer{
    font-size: 2em;
    margin-top: 1%;
    border-top: 1px solid black;
    padding-top: 1%;
}

/* video kansio ompelu, kohta 10:13 */





/* tyylimäärittelyt erikokoisille näytöille*/

/* keskikokoinen näyttö
@media only screen and (max-width: 1337px) {
    /*logo pienemmäksi
   #header-site_name {
        font-size: 1.3em;
    }
    /*contact us pienemmäksi
   #header-top_menu-menu-click {
        font-weight: bold;
        font-size: 1em;
        }
}
/*

/*
/* mobiili
@media only screen and (max-width: 600px) {
   #header-site_name {
        font-size: 1.5em;
    }
    /*contact us pienemmäksi
   #header-top_menu-menu-click {
        font-weight: bold;
        font-size: 1em;
        }
}
/*

 */
/*minilaite
@media only screen and (max-width: 319px) {
    KORJAA asettelua
    .header{
        display: block;
    }
/*