.container {
    display: flex;
}

.filter {
    width: 25%;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.gallery {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.item {
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

p {
    font-size: 1.3em;
    color: #333;
    margin-top: 2%;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 0;
    font-weight: normal;

}